<div class="vistopnavbar__indicator-wrapper">
  <span class="vistopnavbar__indicator-inner">
    <span
      class="vistopnavbar__indicator-bar js-indicator-bar"
      style="width: {{percentageComplete}}%;"
    ></span>
  </span>
</div>
<span class="vistopnavbar__pagecount-bar">
  <span class="vistopnavbar__pagecount-span">{{percentageComplete}}
    of
    {{percentageComplete}}
  </span>
</span>