{{!-- Modified version of: https://github.com/adaptlearning/adapt-contrib-pageLevelProgress/blob/9b4e8a70dda7d0699d2e5fb68dca548448f72562/templates/pageLevelProgressIndicator.hbs --}}
{{!-- Covered by License: https://github.com/adaptlearning/adapt-contrib-pageLevelProgress/blob/master/LICENSE --}}

<div class="vistopnavbar__indicator-wrapper">
  <span class="vistopnavbar__indicator-inner">
    <span
      class="vistopnavbar__indicator-bar js-indicator-bar"
      style="width: {{percentageComplete}}%;"
    ></span>
  </span>
</div>
<span class="vistopnavbar__pagecount-bar">
  <span class="vistopnavbar__pagecount-span">{{percentageComplete}}
    of
    {{percentageComplete}}
  </span>
</span>